@use 'app-theme/colors' as colors;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.aboutMe {
  color: colors.$white;
  text-align: center;
  margin: 36px 0;
}
