@use "theme/colors" as colors;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 16px;
}

.aboutMe {
  color: colors.$white;
  text-align: center;
  margin: 36px 0;
}
