@use 'app-theme/colors' as colors;

.container {
  display: flex;
  flex-direction: column;
  .link {
    display: flex;
    align-items: center;
    color: colors.$white;
    cursor: pointer;
    div {
      padding: 8px;
    }
  }
}
