@use "theme/colors" as colors;

.container {
  padding: 36px;
  h3 {
    line-height: 36px;
  }
}

%commonButtonClass {
  display: flex;
  align-items: center;
  border: none;
  padding: 8px 16px;
  color: colors.$white;
  border-radius: 4px;
  span {
    margin-left: 4px;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}

.buttonsContainer {
  display: flex;
  button {
    margin-right: 16px;
  }
  .portfolioButton {
    @extend %commonButtonClass;
    background-color: colors.$green58;
  }
  .resumeButton {
    @extend %commonButtonClass;
    background-color: colors.$blue38;
  }
}
